<footer class="bg-body-tertiary">
  <div class="w-90 mx-auto py-5">
    <h3>Get The FreshCart app</h3>
    <p class="text-secondary">We will send you a link, open it on your phone to download the app.</p>
    <div class="px-3 border-bottom py-4 mx-2">
      <form>
        <div class="d-flex justify-content-between align-items-center">
          <input type="email" class="form-control w-85" placeholder="Email">
          <button class="btn bg-main px-4 text-light w-13">Share App Link</button>
        </div>
      </form>
    </div>
    <div class="footerPayment ">
      <div class="d-flex justify-content-between border-bottom py-4">
        <div class="justify-content-start align-content-center">
          <p class="h5 fw-bold d-inline-block">Payment Partner :</p>
          <img src="../../assets/images/amazon-pay.png" class="w-5 mx-2" alt="">
          <img src="../../assets/images/american-express.png" class="w-3 mx-2" alt="">
          <img src="../../assets/images/money.png" class="w-5 mx-2" alt="">
          <img src="../../assets/images/logo (1).png" class="w-5 " alt="">
        </div>
        <div class="d-flex justify-content-end   ">
          <p class="h6 fw-bold mt-4">Get deliveries With FrechCard</p>
          <img src="../../assets/images/R.png" class="w-25" style="width: 25%; height: 40px; margin-top: 10px; margin-left: 10px;" alt="">
          <img src="../../assets/images/get-it-on-google-play-badge-png-get-it-on-google-play-646.png" class="w-25" alt="">
        </div>
      </div>
    </div>