  <div class="py-5 my-5">
    <div class="py-5 ">
        <form [formGroup]="forgetPassForm" (ngSubmit)="emailSubmit()" class="py-5"> 
          <div class="mb-3">
            <label for="example InputEmail1" class="form-label fw-bold main-color">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              formControlName="email">
            <div *ngIf="forgetPassForm.get('email')?.errors && forgetPassForm.get('email')?.touched"
              class="errorMessage alert alert-danger">
              <p *ngIf="forgetPassForm.get('email')?.errors?.['required']">Please Enter your Email here.</p>
              <p *ngIf="forgetPassForm.get('email')?.errors?.['email']">this Email doesn't Exist</p>
            </div>
          </div>
          <button  type="submit" class="btn bg-main text-light fw-bold px-5 mt-4 d-block mx-auto"><i
              *ngIf=" " class="fa-solid fa-spinner fa-spin" style="margin-right: 5px;"></i>submit Email</button>  
          <h4 class="alert alert-danger text-center text-white" *ngIf="errorMessage">{{errorMessage}}</h4>
          <h4 class="alert alert-success text-center text-white" *ngIf="successMessage">{{successMessage}}</h4>
        </form>
    </div>
  </div>