  <div class="row g-4 d-flex justify-content-start">
    <div *ngFor="let brand of brands " class="col-3 h-100" (click)="displayProdects(brand._id)">
      <div class="innner rounded-circle position-relative">
        <img [src]="brand.image" [alt]="brand.name" class="w-100">
        <div class="layer w-100 h-100 d-flex justify-content-center align-items-center">
          <h3 class="h3 text-center text-white fw-bold">{{brand.name}}</h3>
        </div>
      </div>
    </div>
  </div>

  <h2 class="main-color fw-bolder text-center py-4 "><span class="border-main">Display Part</span></h2>

  <!-- * display items -->
  <div class="filteringDisplay row g-3 py-5">
      <div *ngFor="let prodectBrand of specialBrandProducts | slice: 0 : 30" class="col-lg-2 col-md-5 col-sm-1 ">
          <div class="product">
            <div [routerLink]="['/productdetails' , prodectBrand._id]">
              <img class="w-100" [src]="prodectBrand.imageCover" [alt]="prodectBrand.title">
              <div class="px-2">
                <div>
                  <span class="h6 mainColor">{{prodectBrand.title.split(" ").length > 3 ? prodectBrand.title.split( " " ,
                    3).join(""):prodectBrand.title}}</span>
                  <h5 class="h6 ">{{prodectBrand.category.name}}</h5>
                  <div class="d-flex align-content-center justify-content-between">
                    <span>{{prodectBrand.price | currency:'EGP'}}</span>
                    <span>{{prodectBrand.ratingsAverage}}<i class="fa-solid fa-star px-1 ratingColor"></i></span>
                  </div>
                </div>
              </div>
            <button class="btn my-2"><i class="fa-solid fa-plus"></i>Add</button>
      </div>
    </div>
  </div>