@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(122, 133, 145, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
  --main-shadow: 0px 0px 10px var(--main-color)
}

body {
  font-family: var(--font-family) !important;
}

.main-color {
  color: var(--main-color);
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  transition: .5s;
  color: black;
  text-decoration: none;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--shadow);
}

.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.product .btn:hover {
  color: white;
}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.mainColor {
  color:var(--main-color);
}
.ratingColor {
  color: var(--rating-color);
}
.bg-main-light {
  background-color: var(--light-color) !important;
}

.border-main {
  border-bottom:4px solid var(--main-color) !important;
  border-radius: 10px !important;
}

.w-3 {
  width: 3% !important;
}

.w-5 {
  width: 5% !important;
}

.w-90 {
  width: 90% !important; 
}

.w-85 {
  width: 85%;
}

.w-13 {
  width: 13%;
}

.w-30 {
  width: 35%;
}

.main {
  min-height: 652px;
}

.btn:hover {
  background-color: #0d870d !important;
  border-color: #0aad0a !important;
}

.form-control:focus {
  box-shadow: var(--main-shadow);
  border: 1px solid var(--main-color);
}
